@import "https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap";
@import "tailwindcss";

@theme {
    --font-display-font: "Playfair Display", sans-serif;
    --font-header-font: "DM Sans", sans-serif;
    --font-text-font: "Urbanist", sans-serif;

    --color-primary: var(--color-indigo-600); /*main brand/accent color (buttons, links)*/
    --color-primary-400: var(--color-indigo-400);
    --color-secondary: var(--color-fuchsia-600); /*secondary actions/accent*/
    --color-secondary-400: var(--color-fuchsia-400);
    --color-background: var(--color-indigo-400); /*main background*/
    --color-background-50: var(--color-indigo-50);
    --color-surface: var(--color-stone-50); /*elevated panels/cards*/
    --color-surface-100: var(--color-stone-100);
    --color-foreground: var(--color-stone-800); /*primary text*/
    --color-muted: var(--color-stone-400); /*subtle text, placeholders*/
    --color-muted-100: var(--color-stone-100);
    --color-border: var(--color-stone-300); /*lines/dividers*/
    --color-danger: var(--color-stone-950);
    --color-warning: var(--color-red-500);
}
